{{> header}}
    <h1>Lista de usuarios</h1>
    {{#each usuario}}
    <ul>
    <li> Nombre: {{nombre}}- Edad: {{edad}}- Email: {{email}}</li>
    {{/each}}
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nam aliquid perferendis reiciendis pariatur natus deleniti dolores optio odio libero repellendus, unde placeat iure soluta eum totam necessitatibus. Et, voluptates.</p>
    <img src="img/thesun.jpg" alt="foto">
{{> footer}}