{{> header}}
    <h1>Bienvenido, {{usuario.nombre}}</h1>
    <ul>
        <li>Edad: {{usuario.edad}}</li>
        <li>Email: {{usuario.email}}</li>
    </ul>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, suscipit iure illum quo quis ipsam minima ab debitis culpa a, nisi facere, vero laborum explicabo dolorum neque ullam eaque nemo.</p>
{{> footer}}